{% extends "base.html" %}
{% block title %} Registration {% endblock %}
{% block content %}
<body>
    <h1>Registration</h1>
    <h5>Register as a...</h5>
    <div>
        <form action = "" method = "post">
            <input type="radio" name="userType" value="customer"> Customer
            <input type="radio" name="userType" value="agent"> Booking Agent
            <input type="radio" name="userType" value="staff"> Airline Staff
            <br/>
            <input type="submit" value="Continue">
        </form>
    </div>
    {% if error %}
        {{ error }}
    {% endif %}
</body>
{% endblock %}