{% extends "agentbase.html" %}
{% block title %} View Commission {% endblock %}
{% block content %}
<body>
    {% if commission %}
    <h1>Your Commission For The Last 30 Days Is: {{commission}}</h1>
    <h1>Your Average Commission For The Last 30 Days Is: {{commission/
    tickets}}</h1>
    {% else %}
    <h1>Your Commission For The Last 30 Days Is: 0</h1>
    <h1>Your Average Commission For The Last 30 Days Is: 0</h1>
    {% endif %}
    <h1>Your Amount of Tickets Sold For The Last 30 Days Is: {{tickets}}</h1>
	<h2>Search by Range of Dates:</h2>
    <div>
        <form action="" method="post">
            <label for="name"> Begin Date: </label>
            <input type="date" name="begDate" required/>
            <br/>
            <label for="name"> End Date: </label>
            <input type="date" name="endDate" required/>
            <br/>
            <input type="submit" name="SearchCommission" value="SearchCommission">
        </form>
    </div>
</body>
{% endblock %}
