{% extends "agentbase.html" %}
{% block title %} View My Flights {% endblock %}
{% block content %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>
<table>
  <tr>
    <th>Airline Name</th>
    <th>Status</th>
    <th>Flight Number</th>
    <th>Departure Airport</th>
    <th>Departure Date</th>
    <th>Departure Time</th>
    <th>Arrival Airport</th>
    <th>Arrival Date</th>
    <th>Arrival Time</th>
    <th>Base Price</th>
    <th>Airplane ID</th>
  </tr>
  {% if info %}
  {% for flight in info %}
  	<tr>
  		<td> {{flight[0]}} </td>
  		<td> {{flight[1]}} </td>
  		<td> {{flight[2]}} </td>
  		<td> {{flight[3]}} </td>
  		<td> {{flight[4]}} </td>
  		<td> {{flight[5]}} </td>
  		<td> {{flight[6]}} </td>
  		<td> {{flight[7]}} </td>
  		<td> {{flight[8]}} </td>
  		<td> {{flight[9]}} </td>
  		<td> {{flight[10]}} </td>
  	</tr>
  {% endfor %}
  {% endif %}
</table>

{% endblock %}