{% extends "base.html" %}
{% block title %} Public Search {% endblock %}
{% block content %}
<body>
    <h1>Hello, {{ username }}!</h1>
    <div>
        <ul>
            <li><a href="/images">View Images</a></li>
            <li><a href="/upload">Upload an Image</a></li>
            <li><a href="/groups">View Groups</a></li>
            <li><a href="/follow">Manage Follows</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</body>
{% endblock %}
