{% extends "base.html" %}
{% block title %} Public Search {% endblock %}
{% block content %}
<body>
    <h1>Public Search Info</h1>
    <div>
        <form action="/loginAuth" method="post">
            <input type="text" name="username" placeholder="Source City" required/>
            <br/>
            <input type="password" name="password" placeholder="Password" required/>
            <br/>
            <input type="submit" value="Search">
        </form>
    </div>
</body>
{% endblock %}