{% extends "customerbase.html" %}
{% block title %} Rate & Comment {% endblock %}
{% block content %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>
<table>
  <tr>
    <th>Airline Name</th>
    <th>Status</th>
    <th>Flight Number</th>
    <th>Departure Airport</th>
    <th>Departure Date</th>
    <th>Departure Time</th>
    <th>Arrival Airport</th>
    <th>Arrival Date</th>
    <th>Arrival Time</th>
    <th>Base Price</th>
    <th>Airplane ID</th>
    <th>Comment on Flight</th>
    <th>Rate the Flight</th>
    <th>Comments</th>
  </tr>
  {% if info %}
  {% for item in info %}
  <form action="" method="POST">
    <tr>
      <td> {{item.airline_name}} </td>
        <td>    {{item.status}} </td>
        <td>    {{item.flight_number}} </td>
        <td>    {{item.departure_airport}}</td>
        <td>    {{item.departure_date}}</td>
        <td>    {{item.departure_time}}</td>
        <td>    {{item.arrival_airport}}</td>
        <td>    {{item.arrival_date}}</td>
        <td>    {{item.arrival_time}}</td>
        <td>    {{item.base_price}}</td>
        <td>    {{item.airplane_id}} </td>
      <td> <input type="text" name="comment" required/></td>
      <td> <input type="number" name="rating" min="1" max="100"required></td>
      <td> <input type="submit" name="{{item.flight_number}}" value="Submit"/></td>
  	</tr>
  </form>
  {% endfor %}
  {% endif %}
</table>
{% if error %}
{{error}}
{% endif %}
{% endblock %}
