{% extends "staffbase.html" %}
{% block title %} View Revenue Comparison {% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>
<body>
	{% if (m_val[0] == 0) and (m_val[1] == 0) %}
	<h3> Revenue from Last Month: 0 </h3>
	{% else %}
    <h3> Revenue from Last Month:</h3>
    <canvas id="chart1" width="600" height="400"></canvas>
    {% set count = namespace(value=0) %}
    <script>
      var pieData = [
        {% for i in range(2) %}
          {
            value: {{m_val[i]}},
            label: "{{labels[i]}}",
            color : "{{colors[i]}}"
          },
        {% endfor %}
      ];

      // get bar chart canvas
      var mychart = document.getElementById("chart1").getContext("2d");
      steps = 10
      max = {{ max }}

      // draw pie chart
      new Chart(document.getElementById("chart1").getContext("2d")).Pie(pieData);
    </script>
    {% endif %}
    <div>
    {% if (y_val[0] == 0) and (y_val[1] == 0) %}
    <h3> Revenue from Last Year: 0 </h3>
    {% else %}
    <h3> Revenue from Last Year:</h3>
    <canvas id="chart2" width="600" height="400"></canvas>
    <script>
      var pieData = [
        {% for i in range(2) %}
          {
            value: {{y_val[i]}},
            label: "{{labels[i]}}",
            color : "{{colors[i]}}"
          },
        {% endfor %}
      ];

      // get bar chart canvas
      var mychart = document.getElementById("chart2").getContext("2d");
      steps = 10
      max = {{ max }}

      // draw pie chart
      new Chart(document.getElementById("chart2").getContext("2d")).Pie(pieData);
    </script>
    {% endif %}
</body>
</html>
{% endblock %}
