{% extends "staffbase.html" %}
{% block title %} View My Flights {% endblock %}
{% block content %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>
<table>
  <tr>
    <th>Airline Name</th>
    <th>Status</th>
    <th>Flight Number</th>
    <th>Departure Airport</th>
    <th>Departure Date</th>
    <th>Departure Time</th>
    <th>Arrival Airport</th>
    <th>Arrival Date</th>
    <th>Arrival Time</th>
    <th>Base Price</th>
    <th>Airplane ID</th>
  </tr>
  {% if info %}
  {% for i in range(info|length) %}
  	<tr>
  		<td> {{info[i][0]["airline_name"]}} </td>
        <td>    {{info[i][0]["status"]}} </td>
        <td>    {{info[i][0]["flight_number"]}} </td>
        <td>    {{info[i][0]["departure_airport"]}}</td>
        <td>    {{info[i][0]["departure_date"]}}</td>
        <td>    {{info[i][0]["departure_time"]}}</td>
        <td>    {{info[i][0]["arrival_airport"]}}</td>
        <td>    {{info[i][0]["arrival_date"]}}</td>
        <td>    {{info[i][0]["arrival_time"]}}</td>
        <td>    {{info[i][0]["base_price"]}}</td>
        <td>    {{info[i][0]["airplane_id"]}} </td>
  	</tr>
  {% endfor %}
  {% endif %}
</table>

{% endblock %}